.tab-container {
    width: 60%;
}
.tab-header a{
   flex : 1;
   display: inline-block;
   padding: 10px 0;
   text-align: center;
   text-decoration: none;
   color: white;
   border-bottom: 2px solid gray;
}

.tab-header a.active {
    border-bottom: 1px solid greenyellow ;
}

.tab-contents .tab-content {
    display: none;
}
.tab-content:target{
    display: block;
}



/* tab albam item */

.tab-contents .tab-content .content-item{
    width: 120px;
    height: 120px;
    background: gray;
    border-radius: 50%;
    overflow: hidden;
}

.content-wrapper{
    flex-wrap:wrap;
}
.content-wrapper .content-item img{
    width: 120px;
    height: 120px;
}