*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  font-family: 'Poppins',sans-serif;
  color: wheat;
  
}

.flex{
  display: flex;
}
.justify-sb{

  justify-content: space-between;
}
.justify-evenly{
  justify-content: space-evenly;
}
.align-center{
  align-items: center;
}
.bb{
  box-sizing: border-box;
}
/* margin */
.m-20{
  margin: 20px;
}
.mlr-20{
  margin: 20px 0;
}
.mtb-20{
  margin: 0 20px;
}
.m-10 {
  margin: 10px;
}

.mlr-10 {
  margin: 10px 0;
}

.mtb-10 {
  margin: 0 10px;
}
.m-5 {
  margin: 5px;
}

.mlr-5 {
  margin: 5px 0;
}

.mtb-5 {
  margin: 0 5px;
}
/* padding */
.p-20 {
  padding: 20px;
}

.plr-20 {
  padding: 20px 0;
}

.ptb-20 {
  padding: 0 20px;
}
.p-10 {
  padding: 10px;
}

.plr-10 {
  padding: 10px 0;
}

.ptb-10 {
  padding: 0 10px;
}
.p-5 {
  padding: 5px;
}

.plr-5 {
  padding: 5px 0;
}

.ptb-5 {
  padding: 0 5px;
}
.app-quote{
  font-size: 30px;
}

li{
  list-style: none;
}

.d-visilibity{
  position: absolute;
 
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
  z-index: -1;
  
}